---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'

const posts = await getCollection('posts')
---

<div class="blog">
	<div class="blog__container">
		<div class="blog__list">
			{
				posts.map((p) => (
					<a class="blog__entry" href={`blog/${p.slug}`}>
						<span class="blog__container-images">
							<Image class="blog__image" width={1080} height={720} src={p.data.image} alt={p.data.title} />
							<Image class="blog__image blur" width={1080} height={720} src={p.data.image} alt={p.data.title} />
						</span>
						<span class="blog__container-data">
							<span class="blog__title">{p.data.title}</span>
							<span class="blog__excerpt">{p.data.excerpt}</span>
							<span class="blog__spacer" />
							<span class="blog__button">Leer</span>
						</span>
					</a>
				))
			}
		</div>
	</div>
</div>

<style lang="scss">
	.blog {
		border-top: 1px solid #ffffff22;
		padding-top: 3rem;
		padding-bottom: 3rem;

		&__container {
			width: min(90%, 1200px);
			margin: 0 auto;
		}

		&__list {
			display: grid;
			grid-template-columns: 1fr;
			gap: 2rem;
		}

		&__entry {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 2rem;
			text-decoration: none;
		}

		&__container-images {
			display: block;
			position: relative;
			border-radius: 4px;
		}

		&__container-data {
			display: flex;
			flex-direction: column;
			gap: 12px;
			justify-content: space-between;
		}
		&__image {
			border-radius: 4px;
			overflow: hidden;
			display: block;
			width: 100%;
			height: auto;
			z-index: 2;
			position: relative;
		}

		&__image.blur {
			filter: blur(16px) saturate(150%) brightness(1.8);
			z-index: 1;
			opacity: 0.3;
			position: absolute;
			top: 0;
			left: 0;
		}

		&__title {
			font-family: var(--font-family);
			font-size: 1.65rem;
			line-height: 1.25;
			font-weight: 700;
			color: rgb(var(--dark));
			text-wrap: balance;
		}
		&__excerpt {
			font-family: var(--font-family);
			font-size: 1rem;
			line-height: 1.5;
			font-weight: 400;
			color: rgb(var(--dark));
			opacity: 0.75;
			text-wrap: balance;
		}

		&__spacer {
			flex: 1;
		}
		&__button {
			align-self: flex-start;
			font-family: var(--font-family);
			font-size: 14px;
			line-height: 1;
			font-weight: 400;
			color: rgb(var(--light));
			background-color: rgb(var(--dark));
			padding: 9px 32px;
			border-radius: 32px;
			text-align: center;
			cursor: pointer;
			transition: background-color 0.2s;

			&:hover {
				background-color: rgb(var(--accent));
			}
		}
	}
</style>
